<div class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="row center-text">
                <div class="col-md-3 col-sm-3 footer-col">
                    <div class="footer-content">
                        <ul class="footer-category-list">
                            <li><a href="@Url.Action(MVC.Account.Login())" target="_blank">Admin Login</a> &nbsp;&nbsp; <a href="@Url.Action(MVC.Home.Subscription())" target="_blank">Subscription Form</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 footer-col">
                    <div class="footer-content">
                        <ul class="footer-category-list">
                            <li><i class="icon-email"></i><span>E-mail: admin@Gurmat.com </span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 footer-col">
                    <div class="footer-content">
                        <ul class="footer-category-list">
                            <li><i class="icon-phone"></i><span>Call us at 1- (718) 805-6941 </span></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">

                <div class="col-md-9 col-sm-9 center-text">
                    <div class="copyright-text">&copy;Sikh Society Nazareth Pa. All Right Reserved -- @DateTime.Now.Year</div>
                </div>
                <div class="col-md-3 col-sm-3 center-text">

                    <div class="social-icons ">
                        <ul>
                            <li><a href="#" target="_blank" class="social-media-icon facebook-icon" data-original-title="facebook">facebook</a> </li>
                            <li><a href="#" target="_blank" class="social-media-icon twitter-icon" data-original-title="twitter">twitter</a> </li>
                            <li><a href="#" target="_blank" class="social-media-icon googleplus-icon" data-original-title="googleplus">googleplus</a> </li>
                            <li><a href="#" target="_blank" class="social-media-icon pininterest-icon" data-original-title="pininterest">pininterest</a> </li>
                            <li><a href="#" target="_blank" class="social-media-icon dribble-icon" data-original-title="dribble">dribble</a> </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

