@{
    ViewBag.Title = "Hukamnama";
    Layout = "~/Views/Shared/_Frontendlayout.cshtml";
}


<div class="row">
    <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
         data-animrepeat="0"
         data-speed="1s"
         data-delay="0.4s">
        <h2 class="h2-section-title">Hukamnama</h2>
        <div class="i-section-title">

        </div>

    </div>


    <div class="section-content no-padding">

        <div class="row">

            <iframe class="text-center" src="http://old.sgpc.net/hukumnama/jpeg%20hukamnama/hukamnama.pdf" width="100%" height="800px"></iframe>





        </div>
    </div>
</div>
