@{
    ViewBag.Title = "Live";
    Layout = "~/Views/Shared/_Frontendlayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
         data-animrepeat="0"
         data-speed="1s"
         data-delay="0.4s">
        <h2 class="h2-section-title">Live Streaming</h2>
        <div class="i-section-title">
        </div>

    </div>

    <div class="section-content bottom-body">
        <iframe width="920" height="515" src="http://www.youtube.com/embed/Hko-Y_ynax8" frameborder="0" allowfullscreen></iframe>
    </div>

</div>
